<h1> Executive Summary </h1>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['controls']});
    </script>
<p>
	<button class="btn btn-mini btn-primary" onclick="getData('BVT','Summary')" type="button">Get BVT Data</button>
	<button class="btn btn-mini btn-primary" onclick="getData('PortalSmoke','Summary')" type="button">Get Portal Smoke Data</button>
	<button class="btn btn-mini btn-primary" onclick="getData('CMHSLoadTest','Summary')" type="button">Get CMHS Load Test Data</button>
</p>
<ul class="nav nav-tabs">
  <li class="active"><a href="#barChart" data-toggle="tab">Bar Chart</a></li>
  <li><a href="#lineChart" data-toggle="tab">Line Chart</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="barChart">
	    <script type="text/javascript">	
	      google.setOnLoadCallback(drawSummaryBarVisualization);
	    </script>
	  </head>
	  <body style="font-family: Arial;border: 0 none;">
	    <div id="dashboard">
	      <table>
	        <tr style='vertical-align: top'>
	          <td style='width: 300px; font-size: 0.9em;'>
	            <div id="control1"></div>
	            <div id="control2"></div>
	          </td>
	          <td style='width: 600px'>
	            <div style="float: left;" id="chart1"></div>
	          </td>
	        </tr>
	      </table>
	    </div>
	  </body>
	</div>
	<div class="tab-pane" id="lineChart">
		<script type="text/javascript">	
	      google.setOnLoadCallback(drawSummaryLineVisualization);
	    </script>
	  </head>
	  <body style="font-family: Arial;border: 0 none;">
	    <div id="dashboard3">
	      <table>
	        <tr style='vertical-align: top'>
	          <td style='width: 300px; font-size: 0.9em;'>
	            <div id="suiteLineFilter"></div>
	            <div id="statusLineFilter"></div>
	            <div id="suiteRangeFilter"></div>
	          </td>
	          <td style='width: 600px'>
	            <div id="linechart"></div>
	          </td>
	        </tr>
	      </table>
	    </div>
	  </body>
	</div>
</div>

<br />