<table id="scenarioSteps" class="table table-hover">
  <tr>
    <th>Steps</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>

<% @current_scenario.steps.each do |step| %>
  <tr>
    <td><%= link_to keyword_or_name_link(step), [@current_suite,@current_feature,@current_scenario,step] %></td>
    <td><%= step.duration_converted %></td>
    <%= model_status_display(step) %>
  </tr>
<% end %>
</table>

