<h1>Editing step</h1>

<%= render 'form' %>

<%= link_to 'Show', [@current_suite,@current_feature,@current_scenario,@step] %> |
<%= link_to 'Back', suite_feature_scenario_path(@current_suite,@current_feature,@current_scenario) %>
