<table id="featureScenarios" class="table">
  <tr>
    <th>Scenarios</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>

<% @current_feature.scenarios.each do |scenario| %>
  <tr>
    <td><%= link_to keyword_or_name_link(scenario), [@current_suite,@current_feature,scenario] %></td>
    <td><%= scenario.duration_converted %></td>
    <%= model_status_display(scenario) %>
  </tr>
<% end %>
</table>
