<table id="featureScenarios" class="table">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>

<% @current_feature.scenarios.each do |scenario| %>
  <tr>
  	<% if scenario.name.length == 0
  		displayName = scenario.keyword
  	   else
  	   	displayName = scenario.name
  	   end %>
    <td><%= link_to displayName, [@current_suite,@current_feature,scenario] %></td>
    <td><%= scenario.duration_converted %></td>
    <% if scenario.status == "failed" %>
    	<td><span class="badge badge-warning"><%= scenario.status %></span></td>
    <% else %>
    	<td><span class="label label-inverse"><%= scenario.status %></span></td>
    <% end %>
  </tr>
<% end %>
</table>
