<table id="featureScenarios" class="table">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>

<% @current_feature.scenarios.each do |scenario| %>
  <tr>
  	<% if scenario.name.length == 0
  		displayName = scenario.keyword
  	   else
  	   	displayName = scenario.name
  	   end %>
    <td><%= link_to displayName, [@current_suite,@current_feature,scenario] %></td>
    <td><%= scenario.duration_converted %></td>
    <%= model_status_display(scenario) %>
  </tr>
<% end %>
</table>
