<h1>Editing scenario</h1>

<%= render 'form' %>

<%= link_to 'Show', [@current_suite,@current_feature,@scenario] %> |
<%= link_to 'Back', suite_feature_scenarios_path(@current_suite,@current_feature) %>
