<table id="suiteFeatures" class="table">
  <tr>
    <th>Features</th>
    <th>Duration</th>
    <th>Status</th>
  </tr>

<% @current_suite.features.each do |feature| %>
  <tr>
    <td><%= link_to feature.name, [@current_suite,feature] %></td>
    <td><%= feature.duration_converted %></td>
    <%= model_status_display(feature) %>
  </tr>
<% end %>
</table>
