<!DOCTYPE html>
<html>
<head>
  <title>Cuke Performance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
	
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Cuke Performance</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <ul class="nav">  
  			<li class="dropdown">
    			<a href="#"  
          			class="dropdown-toggle"  
          			data-toggle="dropdown">  
          			Generate Data  
          			<b class="caret"></b>  
    			</a>  
    			<ul class="dropdown-menu">  
    				<li><a href="/suites/new">Manually Add Data</a></li>
     				<li><a href="/auto_create/suites/BVT">Generate BVT Data</a></li>
     				<li><a href="/auto_create/suites/PortalSmoke">Generate Portal Smoke Data</a></li> 
    			</ul>  
  			</li>  
  			<li class="dropdown">  
    			<a href="#"  
          			class="dropdown-toggle"  
          			data-toggle="dropdown">  
          			View Graphs 
          			<b class="caret"></b>  
    			</a>  
    			<ul class="dropdown-menu">  
     				<li><a href="/performance/suites/BVT">BVT Graph</a></li>
     				<li><a href="/performance/suites/PortalSmoke">Portal Smoke Graph</a></li>
    			</ul>  
  			</li>  
		</ul> 
      </ul>
    </div>
  </div>
</div>

<%= yield %>
</body>
</html>
